@charset "UTF-8";

body{
    background-color: goldenrod;
}

header{
font-family: Arial, Helvetica, sans-serif;
color: rgb(0, 0, 0);
text-align: center;
}

section{
background-color: rgb(206, 206, 206);
width: 600px;
margin: 0 auto;
border-radius: 30px;
box-shadow: 2px 5px black;
}

h2{
    margin-bottom: 3px;
    margin-left: 15px;
}
h3{
padding: 0;
padding-left: 30px;
padding-bottom: 30px;
}

input{ 
    margin-left: 15px;
    height: 25px;
    margin-top: 0px;
}
#res{
    margin: 0 auto;
    margin-bottom: 10px;
}

div{
padding-top: 10px;

}

#botão{
width: 150px;
height: 40px;
margin-left: 250px;
background-color: rgb(141, 141, 141);
border-radius: 8px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bolder;
margin-top: 25px;
/* margin-bottom: 30px ; */
box-shadow: 1px 3px;
}

footer{
    margin-top: 50px;
text-align: center;
color: rgb(0, 0, 0);
}